/* General rules */

body {
  background-color: lightgrey;
  overflow-x: hidden;
}

/* Navigation */

.navbar {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: black;
  font-weight: bold;
}

.navbar-brand img {
  height: 1.8rem;
}

.navbar-nav li {
  padding-right: 0.6rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.6rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: lime;
}

/* Landing */
.home-inner {
  background-image: url(img/computers.png);
  background-size: contain;
}

.caption {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 35%;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.caption h1,
.caption h2 {
  font-size: 0.8em;
  font-weight: bold;
  padding-bottom: 0.6rem;
}
/* Course */
#course {
  border: 5px solid darkgrey;
  padding-bottom: 2rem;
}
/* Features */
.jumbotron {
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.features-list {
  list-style: none;
}

.jumbotron .line {
  margin-bottom: 0;
}

/* Clients */
.client {
  border-radius: 50%;
  width: 90%;
  max-width: 90%;
}

.blockquote p {
  width: 90%;
  margin: 0 auto;
}

/* Footer */

footer a {
  color: white;
}

footer a:hover {
  color: black;
}

footer img {
  height: 2rem;
  margin: 0.5rem 0;
}

/* Own @media queries rules */

@media screen and (max-width: 768px) {
  .client {
    min-width: 30%;
    width: 40%;
  }

  .blockquote p {
    font-size: 0.8em;
  }
}

/*============= SECTION =============*/

.narrow {
  width: 75%;
  margin: auto;
}
.narrow h1 {
  font-size: 2.4rem;
}
/* .btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
